<nav class="bg-white">
    <div class="mycontainer flex justify-between items-center px-4 py-5 h-14">
        <div class="flex items-center justify-center">
            <div class="logo font-bold text-2xl cursor-pointer">
                <span class="text-[#1a285f]">&lt;</span>
                Pass<span class="text-[#1a285f]">Gen</span>
                <span class="text-[#1a285f]">/&gt;</span>
            </div>
            <p
                class="ml-4 cursor-pointer text-gray-600 hover:text-black font-bold"
            >
                Products
            </p>
            <p
                class="ml-4 cursor-pointer text-gray-600 hover:text-black font-bold"
            >
                Resources
            </p>
            <p
                class="ml-4 cursor-pointer text-gray-600 hover:text-black font-bold"
            >
                Pricing
            </p>
        </div>
        <div class="flex items-center justify-center">
            <button class="bg-blue-500 text-white p-2 px-6 rounded-3xl">Sign In</button>
        </div>
    </div>
</nav>