<nav class="bg-white shadow-md h-14">
    <div class="container mx-auto flex justify-between items-center px-4 py-2">
        <div class="text-2xl font-bold cursor-pointer text-[#1a285f]">
            <span>&lt;</span>Pass<span>Gen</span><span>/&gt;</span>
        </div>

        <button 
            class="lg:hidden text-gray-700 focus:outline-none" 
            (click)="toggleMenu()"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6h16.5M3.75 12h16.5m-16.5 6h16.5" />
            </svg>
        </button>

        <div 
            [ngClass]="{ 'hidden': !menuOpen, 'flex': menuOpen }" 
            class="flex-col lg:flex lg:flex-row lg:items-center lg:gap-6 absolute lg:static bg-white lg:bg-transparent top-16 left-0 w-full lg:w-auto z-10 lg:mt-0"
        >
            <a href="#" class="block text-gray-700 hover:text-black px-4 py-2 lg:py-0">Products</a>
            <a href="#" class="block text-gray-700 hover:text-black px-4 py-2 lg:py-0">Resources</a>
            <a href="#" class="block text-gray-700 hover:text-black px-4 py-2 lg:py-0">Pricing</a>

            <button class="bg-blue-500 text-white py-2 px-6 rounded-full hover:bg-blue-700 transition mt-4 lg:mt-0 lg:ml-6">
                Sign In
            </button>
        </div>
    </div>
</nav>
